* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1700px;
  width: 96%;
  margin: auto;
}

.header {
  padding-top: 80px;
}
.header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-left {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.header-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 18px;
  z-index: 999;
}
.header-icons img {
  width: 34px;
  height: 34px;
  cursor: pointer;
}
.header-menu {
  cursor: pointer;
}
.header-menu__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #093CB5;
  padding: 15px 25px;
  border-radius: 83px;
}
.header-menu__button span {
  font-size: 30px;
  color: #fff;
  margin-left: 10px;
}

.offer {
  padding-bottom: 250px;
}
.offer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.offer-left {
  width: 40%;
}
.offer-right {
  width: 60%;
}
.offer-header {
  font-size: 128px;
  letter-spacing: -3px;
  color: #000;
  font-weight: 700;
  margin-bottom: 60px;
}
.offer-desc {
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 100px;
}
.offer-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.offer-buttons a {
  padding: 30px 60px;
  font-size: 22px;
  border-radius: 100px;
  text-decoration: none;
  border: 3px solid #093CB5;
  width: 300px;
  text-align: center;
  margin-right: 30px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.offer-buttons a.btn-blue {
  background-color: #093CB5;
  border: 3px solid #093CB5;
  color: #fff;
}
.offer-buttons a.btn-blue:hover {
  background-color: transparent;
  color: #093CB5;
}
.offer-buttons a.btn-white {
  color: #093CB5;
  border: 3px solid transparent;
  position: relative;
}
.offer-buttons a.btn-white::before {
  content: "";
  background-image: url("../img/02offer_icon_tel.svg");
  position: absolute;
  top: 50%;
  left: 40px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  width: 30px;
  height: 30px;
}
.offer-buttons a.btn-white:hover {
  border: 3px solid #093CB5;
}
.offer-image img {
  width: 100%;
  margin-top: -120px;
  margin-left: 130px;
}

.why {
  padding-bottom: 250px;
}
.why-header {
  font-size: 96px;
  letter-spacing: -2px;
  margin-bottom: 150px;
  color: #fff;
}
.why-wrap {
  background-image: url("../img/04why-bg2.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 100px;
  border-radius: 100px;
  background-position: center center;
}
.why-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.why-item {
  margin-right: 80px;
  width: 30%;
}
.why-item img {
  display: block;
  margin-bottom: 25px;
}
.why-item p {
  color: #fff;
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
}
.why-item span {
  color: rgba(255, 255, 255, 0.45);
  display: block;
  font-size: 36px;
  line-height: 40px;
  font-weight: 300;
}

.scooters {
  padding-bottom: 250px;
}
.scooters-headwrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 130px;
}
.scooters-header {
  font-size: 96px;
  line-height: 100px;
  letter-spacing: -2px;
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 0;
}
.scooters-arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.scooters-arrows > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(0, 0, 0, 0.03);
  border-radius: 10px;
  width: 33px;
  height: 33px;
  cursor: pointer;
}
.scooters-item {
  width: 48%;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 60px 60px 0;
  background-color: #fbfbfb;
  border: 1px solid rgba(0, 0, 0, 0.03);
  -webkit-box-shadow: 0px 25px 15px rgba(155, 161, 167, 0.1997);
          box-shadow: 0px 25px 15px rgba(155, 161, 167, 0.1997);
  border-radius: 40px;
}
.scooters-left {
  width: 45%;
}
.scooters-right {
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.scooters-text {
  font-size: 36px;
  line-height: 40px;
  color: #000;
  font-weight: 700;
  margin-bottom: 30px;
  margin-top: 0;
}
.scooters-desc {
  font-size: 22px;
  line-height: 40px;
  color: rgba(0, 0, 0, 0.64);
  margin-bottom: 50px;
}
.scooters-btn {
  background-color: #093CB5;
  color: #fff;
  padding: 20px;
  display: inline-block;
  border-radius: 30px;
  width: 220px;
  cursor: pointer;
}
.scooters-btn__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}
.scooters-btn__label img {
  margin-right: 10px;
}
.scooters-btn__label span {
  font-size: 18px;
  line-height: 26px;
}
.scooters-btn strong {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
}
.scooters-label {
  position: absolute;
  color: #fff;
  font-size: 22px;
  line-height: 30px;
  font-weight: 700;
  padding: 16px;
  background-color: #ff7474;
  -webkit-box-shadow: 0px 100px 80px rgba(155, 161, 167, 0.07), 0px 41.7776px 33.4221px rgba(155, 161, 167, 0.0503198), 0px 22.3363px 17.869px rgba(155, 161, 167, 0.0417275), 0px 12.5216px 10.017px rgba(155, 161, 167, 0.0503198);
          box-shadow: 0px 100px 80px rgba(155, 161, 167, 0.07), 0px 41.7776px 33.4221px rgba(155, 161, 167, 0.0503198), 0px 22.3363px 17.869px rgba(155, 161, 167, 0.0417275), 0px 12.5216px 10.017px rgba(155, 161, 167, 0.0503198);
  border-radius: 20px;
}
.scooters-image img {
  margin-top: -30px;
}

.slick-slide {
  margin: 0 15px 50px;
}

.slick-list {
  margin: 0 -15px;
}

.reviews {
  padding-bottom: 300px;
}
.reviews-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.reviews-info {
  width: 35%;
  padding-right: 200px;
}
.reviews-header {
  font-size: 96px;
  font-weight: 700;
  line-height: 100px;
  letter-spacing: -1.92px;
  color: #000;
  margin-top: 110px;
  margin-bottom: 400px;
}
.reviews-model {
  font-size: 22px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.65);
}
.reviews-desc {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  color: #000;
}
.reviews-right {
  width: 65%;
}
.reviews-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.reviews-image {
  width: 100%;
}
.reviews-text {
  margin-top: 100px;
  padding-left: 85px;
  margin-bottom: 0px;
}
.reviews-text p {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  color: rgba(0, 0, 0, 0.45);
  margin-top: 0;
  margin-bottom: 0;
}
.reviews-text p strong {
  color: #000;
}
.reviews-text span {
  font-size: 22px;
  line-height: 30px;
  display: inline-block;
  margin-top: 373px;
}
.reviews-arrows {
  margin-top: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.reviews-arrows > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(0, 0, 0, 0.03);
  border-radius: 10px;
  width: 33px;
  height: 33px;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */